@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 7vh;
  background: #000;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.menu {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style: none;
}

.menu ul li,
.menu ul li a {
  color: white;
  line-height: 44px;
  text-decoration: none;
}

.menu ul li .fa.fa-shopping-bag {
  font-size: 20px;
}

.menu ul li a.menu-item {
  transform: scale(1);
  transition: 0.5s;
  display: block;
}

.menu ul li a.menu-item.hide-item {
  transform: scale(0);
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(0);
  width: 600px;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.search-form.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}

.search-form input {
  width: 100%;
  height: 44px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
}
.search-form input::placeholder {
  color: #fff;
}
.search-form::before {
  content: "\f002";
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: #fff;
  font-family: fontAwesome;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  background: #000;
  color: #fff;
  line-height: 44px;
  font-size: 18px;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.close.active {
  opacity: 1;
  visibility: visible;
}

#myCarousel{
	height: 20%;
}

.item img {
  width: 100%;
}

.carousel-caption h1 {
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

.carousel-caption h3 {
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
}

.center h2 {
  text-align: center;
  margin: 0px;
  padding-top: 5px;
}
.center {
  font-family: "Abril Fatface", cursive;
  background-color: #D7E6F5;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.col-sm-4 img {
  width: 450px;
  margin: 10px;
}

.text-center {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #E4EBF0;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 1px #000;
}

.bottom {
  background-color: #fdebd2;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0px 10px 10px;
  background-color: D7E6F5;
}

.bottom h2 {
	margin: 0px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.col-sm-4 p {
  text-align: center;
  font-size: 20px;
}

.col-sm-4 h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
}


.categories ul {
  width: 100%;
  margin: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.categories ul li {
  list-style: none;
}

.categories ul li,
.categories ul li a {
  color: black;
  line-height: 44px;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
}

.newshop {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.newshop form {
  width: 400px;
  margin: auto;
  padding-top: 20px;
}

.newshop form button {
  width: 400px;
  
}

.products {
	display:flex;
}

.one {
	font-family: "Open Sans Condensed", sans-serif;
  margin: 30px;
}

.one img{	
  margin: 10px;
  width:330px;
  height:230px;
  padding: 15px;
}

.one h4, .one h5 {
  text-align: center;
  margin-top: 5px;
}


.left img {
  width: 500px;
  height: 400px;
  margin: 30px;
}

.right {
	font-family: "Open Sans Condensed", sans-serif;
  vertical-align: top;
  margin: 30px;
}

.right h2 {
  font-size: 75px;
}

.right h5 {
  font-size: 30px;
}

.store {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0px;
}

.oneprod {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
}

.storeprods img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.storeprods h5 {
  text-align: center;
}

.options {
	text-align: center;
}

.basketleft img {
  width: 325px;
  height: 225px;
  padding: 10px;
}

.basketright {
  font-family: "Open Sans Condensed", sans-serif;
  vertical-align: top;
  padding:20px;
}

.whole {
  border: black solid 1px;
  width: 700px;
  margin: 10px 30px;
}

.whole1 {
  width: 700px;
  padding: 20px;
  margin: 10px 30px;
}

.empty .fa.fa-shopping-cart {
  font-size: 250px;
}

.empty {
  width: 300px;
  margin: 0px auto;
}

.empty a {
  text-align: center;
}

.errors {
	color: red;
}

#quantform {
	width: 200px;
}




